* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

img {
  max-width: 100%;
}

[class*="tablet"],
[class*="desktop"] {
  display: none;
}
/********** Fonts **********/
:root {
  --font-fam-heading: "Big Shoulders", sans-serif;
  --font-fam-text: "Outfit", sans-serif;
}

[class*="title"],
a {
  font-family: var(--font-fam-heading);
  text-transform: uppercase;
}

[class*="text"] {
  font-family: var(--font-fam-text);
  font-weight: 300;
  font-size: 18px;
}

.hero__title {
  font-size: 56px;
  font-weight: 900;
  margin-block: 32px;
}

.gallery__title {
  font-size: 40px;
  font-weight: 800;
}

[class*="gallery__image"] {
  margin-bottom: 24px;
}

/********** Main CSS **********/

.hero__content {
  margin-bottom: 100px;
}

.hero__text {
  margin-block: 32px;
}

.hero__content,
.gallery {
  width: 90%;
  margin-inline: auto;
  /* border: 2px solid blue; */
}

.hero__button {
  display: flex;
  align-items: center;
}

.hero__link {
  background-color: black;
  padding: 16px 24px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  letter-spacing: 30%;
  font-weight: 700;
}

.hero__button--icon-right {
  display: flex;
  align-self: center;
  background-color: #d5966c;
  height: 51px;
  padding: 16px;
}

.gallery {
  overflow: hidden;
}

.gallery__flex {
  margin-bottom: 32px;
}

.gallery__grid {
  margin-bottom: 100px;
}

.item {
  margin-bottom: 16px;
}

.grid__content {
  background-color: black;
  padding: 40px 24px;
}

.gallery__title--white,
.gallery__text--white {
  color: white;
}

footer {
  background-color: black;
  color: white;
  padding: 48px;
}

.footer__text {
  margin-block: 40px;
}

.footer__icons {
  display: flex;
  gap: 24px;
}

@media (min-width: 700px) {
  [class*="mobile"] {
    display: none;
  }

  [class*="tablet"] {
    display: block;
  }

  .hero {
    display: grid;
    grid-template-columns: 50% 1fr;
    margin-bottom: 120px;
  }

  .hero__image--tablet {
    max-height: 700px;
  }

  .hero__content {
    transform: translateX(-56px);
  }

  .gallery__flex {
    display: flex;
    gap: 24px;
  }

  .gallery__image--tablet {
    max-width: 400px;
    order: 2;
  }

  .gallery__content {
    order: 1;
    margin-top: 48px;
  }

  .grid {
    display: grid;
    grid-template-columns: 1.7fr 1fr;
    grid-template-rows: 300px 400px;
    gap: 8px;
  }

  .item {
    margin-bottom: 0px;
  }

  .grid__img1--tablet {
    grid-row: 1 / 3;
  }

  .grid__img1--tablet,
  .grid__img2--tablet {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .grid__content {
    grid-column: 2 / 3;
    align-content: center;
  }

  .footer__flex {
    display: flex;
    align-items: baseline;
    gap: 24px;
  }

  .footer__text {
    width: 50%;
  }

  .footer__icons {
    display: flex;
    align-items: center;
    margin-left: 40px;
  }

  .footer__text {
    margin-block: 0px;
  }
}

@media (min-width: 1200px) {
  [class*="mobile"],
  [class*="tablet"] {
    display: none;
  }

  [class*="desktop"] {
    display: block;
  }

  .hero {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 800px;
    position: relative;
  }

  .hero__blk-rectangle--desktop {
    max-width: 100%;
    max-height: 100%;
    background-color: black;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .hero__image--desktop {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    height: 100%;
    object-fit: cover;
  }

  .hero__content {
    transform: none;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    z-index: 2;
    width: 100%;
    margin: 0;
    margin-bottom: 0;
    align-self: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .hero__title {
    color: white;
    grid-column: 1 / 2;
    justify-self: end;
    transform: translateX(28%);
    margin: 0;
  }

  .hero__title--black {
    color: black;
  }

  .hero__text {
    grid-column: 3 / -1;
    transform: translateX(-32px);
  }

  .hero__button {
    grid-column: 3 / -1;
    transform: translateX(-32px);
  }

  .hero__text,
  .hero__button {
    max-width: 350px;
  }

  .gallery {
    max-width: 1100px;
  }

  .grid__img1--desktop,
  .grid__img2--desktop {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .grid__img1--desktop {
    grid-row: 1 / 3;
  }

  .gallery__image--desktop {
    max-width: 650px;
    order: 2;
  }

  .gallery__content {
    order: 1;
    margin-top: 48px;
  }

  .gallery__text {
    width: 70%;
  }

  .footer__flex {
    justify-content: space-between;
  }

  .footer__text {
    width: 40%;
  }
}

/* ========== Location Page ========== */

.map {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(450px, max-content);
}

.map__button {
  display: flex;
  align-items: center;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  z-index: 1;
  align-self: start;
  margin-top: 8px;
  margin-left: 8px;
}

.map__button--icon-left {
  background-color: #d5966c;
  display: flex;
  align-self: center;
  height: 66px;
  width: 56px;
  padding: 20px;
}

.map__link {
  background-color: black;
  text-decoration: none;
  color: white;
  padding: 24px 32px;
  text-transform: uppercase;
  letter-spacing: 30%;
  font-weight: 700;
}

.map__image--mobile {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.location {
  background-color: black;
  color: white;
  padding: 80px 16px;
}

.location__title {
  font-size: 50px;
  margin-bottom: 40px;
}

.location__address-title {
  color: #d5966c;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 16px;
}

.location p:last-of-type {
  margin-top: 16px;
}

footer {
  background-color: #d5966c;
  color: black;
}

.footer__icons img {
  fill: black;
}

@media (min-width: 700px) {
  .map__image--tablet {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .location {
    display: flex;
    gap: 100px;
  }

  .location__title {
    margin-left: 16px;
  }
}

@media (min-width: 1200px) {
  .map__image--desktop {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .map__button {
    margin-left: 220px;
  }

  .location {
    justify-content: space-around;
  }

  .location__title {
    width: 10%;
  }

  .location__content {
    width: 30%;
  }

  .footer__flex {
    max-width: 1400px;
    margin-inline: auto;
  }
}
